html, body {
    background: #0a0a0f;
}
body {
    margin: 0;
    height: 100vh;
    /* 背景画像 */
    background-color: #000;
/*    本番用*/
    background: url("/IMG/LGNimg.jpg") no-repeat center center;
/*開発環境*/
/*    background: url("../../IMG/LGNimg.jpg") no-repeat center center;*/
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
    transition: opacity 0.5s ease;
}
    body.fade-out {
        opacity: 0;
    }

/* 暗いフィルター（これが重要） */
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 中央コンテンツ */
.content {
    text-align: center;
    color: white;
}

h1 {
    font-size: 6.5rem;
    margin: 0;
    margin-bottom:18.5rem;
    letter-spacing: 5px;
    /* ネオンっぽく */
    text-shadow: 0 0 15px #a855f7;
}

/* ボタン */
button {
    padding: 18px 60px;
    font-size: 20px;
    border: 2px solid #a855f7;
    background: transparent;
    color: #a855f7;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px; /* ちょい丸く */
}

    button:hover {
        background: #a855f7;
        color: black;
        box-shadow: 0 0 25px #a855f7;
        transform: scale(1.05); /* 少し拡大 */
    }

/* ローディング画面 */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a0a0f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
    .loading-screen p{
        color:#fff;
        margin-top:1.5rem;
        font-size:2rem;s
    }
    /* スピナー */
    .spinner {
        width: 50px;
        height: 50px;
        border: 4px solid #333;
        border-top: 4px solid #a855f7;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
